:root {
  --clr-primary-500: hsl(158, 36%, 37%);
  --clr-primary-700: hsl(158, 42%, 18%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-cream: hsl(30, 38%, 92%);
  --clr-neutral-grey: hsl(228, 12%, 48%);
  --clr-neutral-black: hsl(212, 21%, 14%);

  --ff-heading: 'Fraunces', serif;
  --ff-body: 'Montserrat', sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--ff-body);
  font-size: 14px;
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-grey);
  background-color: var(--clr-neutral-cream);

  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 1rem;
}

.card {
  --content-padding: 1.5rem; /* 内容区内边距 */
  --content-spacing: 1.5rem; /* 内容区元素间距 */

  background-color: var(--clr-neutral-white);
  border-radius: 0.625rem;
  display: grid; /* 默认垂直排列 */
  overflow: hidden; /* 确保图片的边角也跟随卡片变为圆角 */
  max-width: 345px;
}

.card-information {
  padding: var(--content-padding);
  gap: var(--content-spacing);
  display: grid;
}

.product-category {
  text-transform: uppercase;
  font-family: var(--ff-body);
  font-size: 0.75rem;
  font-weight: var(--fw-regular);
  letter-spacing: 0.25rem;
  color: var(--clr-neutral-grey);
}

.product-title {
  font-family: var(--ff-heading);
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-black);
  line-height: 1;
}

.product-description {
  font-family: var(--ff-body);
  font-size: 0.875rem;
  font-weight:var(--fw-regular);
  color: var(--clr-neutral-grey);
  line-height:1.5;
  max-width: 30ch;
}

.product-pricing {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.price-current {
  font-family: var(--ff-heading);
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: var(--clr-primary-500);
}

.price-original {
  font-family: var(--ff-body);
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-grey);
  text-decoration: line-through;
}

.add-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-white);
  font-weight: var(--fw-bold);
  font-size: 0.9rem;

  border: 0;
  border-radius: 0.5rem;
  padding: 1em 1.5em;
  width: 100%;
  /* 鼠标悬停在按钮上时，将光标变成小手 */
  cursor: pointer;
}

.add-button:hover,
.add-button:focus-visible {
  background-color: var(--clr-primary-700);
}

@media (min-width: 700px) {
  .card {
    grid-template-columns: 1fr 1fr; /* 创建两个等宽的列 */
    max-width: 600px;
  }

  .product-image img {
    height: 100%;
    object-fit: cover; /* 防止图片被拉伸变形 */
  }
  .card-information {
    --content-padding: 2rem;
  }
}